{
    "tabWidth": 3,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": false,
    "importOrder": [
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}